spring:
  application:
    name: instagram-team10

  datasource:
    url: jdbc:mysql://localhost:3306/instagram?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: somepassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  config:
    import: optional:classpath:application-secret.yml

  cloud:
    aws:
      region:
        static: ap-northeast-2
      s3:
        bucket: wafflestudio-team10-instagram-clone


  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 2c84f616bb1c206f7c81b4d8310bcd3f
            client-secret: HJuk10X7jqftwKfEfS7VqpCAvFI0SpYh
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: userId

jwt:
  secret: this-is-a-very-long-and-secure-secret-key-for-jwt-token-generation
  access-token-expiration-in-ms: 900000 #15 min
  refresh-token-expiration-in-ms: 2592000000 #30 days
  test-token: "123"

logging:
  level:
    root: INFO
    org.springframework.data.jdbc: DEBUG
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
